# fly.toml app configuration file for chunkingtests
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'chunkingtests'
primary_region = 'fra'

[build]

[env]
  PDF_DIR = '/data/res'
  DISABLE_HI_RES = '1'

[[mounts]]
  source = 'data'
  destination = '/data'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [http_service.concurrency]
    type = 'connections'
    hard_limit = 20
    soft_limit = 15

  [[http_service.checks]]
    interval = '10s'
    timeout = '2s'
    grace_period = '10s'
    method = 'GET'
    path = '/healthz'

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
